{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    {% include '@SyliusShop/Checkout/_steps.html.twig' with {'active': 'select_payment', 'orderTotal': order.total} %}

    {{ sonata_block_render_event('sylius.shop.checkout.select_payment.after_steps', {'order': order}) }}

    <div class="ui stackable grid">
        <div class="eleven wide column">
            <div class="ui padded segment" id="sylius-payment-methods">
                {{ sonata_block_render_event('sylius.shop.checkout.select_payment.before_form', {'order': order}) }}

                {{ form_start(form, {'action': path('sylius_shop_checkout_select_payment'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
                {{ form_errors(form) }}
                <input type="hidden" name="_method" value="PUT" />

                <div class="ui unmargined segments">
                    {% for payment_form in form.payments %}
                        <div class="ui segment">
                            <div class="ui dividing header">{{ 'sylius.ui.payment'|trans }} #{{ loop.index }}</div>
                            <div class="ui fluid stackable items">
                                {{ form_errors(payment_form.method) }}

                                {% for key, choice_form in payment_form.method %}
                                    <div class="item">
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                {{ form_widget(choice_form) }}
                                            </div>
                                        </div>
                                        <div class="content">
                                            <a class="header">{{ form_label(choice_form) }}</a>
                                            {% if payment_form.method.vars.choices[key].data.description is not null %}
                                                <div class="description">
                                                    <p>{{ payment_form.method.vars.choices[key].data.description }}</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% include '@SyliusShop/Checkout/SelectPayment/_unavailable.html.twig' %}
                                {% endfor %}
                                <input type="text" value="TOKEN" name="{{ payment_form.creditCardToken.vars.full_name }}">
                            </div>
                    {% else %}
                        {% include '@SyliusShop/Checkout/SelectPayment/_unavailable.html.twig' %}
                    {% endfor %}
                    </div>
                </div>


                <div class="ui hidden divider"></div>

                {{ sonata_block_render_event('sylius.shop.checkout.select_payment.before_navigation', {'order': order}) }}
                {% include '@SyliusShop/Checkout/SelectPayment/_navigation.html.twig' %}

                {{ form_row(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
        <div class="five wide column">
            {{ sonata_block_render_event('sylius.shop.checkout.select_payment.before_summary', {'order': order}) }}

            {% include '@SyliusShop/Checkout/_summary.html.twig' with {'order': order} %}

            {{ sonata_block_render_event('sylius.shop.checkout.select_payment.before_support', {'order': order}) }}

            {% include '@SyliusShop/Checkout/_support.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.checkout.select_payment.after_support', {'order': order}) }}
        </div>
    </div>
{% endblock %}
